<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='完善个人信息'">
</head>
<body>
<h1>请先完善信息。。。</h1>
<div>
    <form class="layui-form" action="" style="margin-top: 50px">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red; ">*</span>公司名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="company" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red; ">*</span>姓名:</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red; ">*</span>职务:</label>
                <div class="layui-input-inline">
                    <input type="text" name="position" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系方式:</label>
                <div class="layui-input-inline">
                    <input type="text" name="mobile" lay-verify="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    let webUrl = [[${webUrl}]];
    let visitorId = [[${visitorId}]];
    let webId = [[${webId}]];

    var left = sessionStorage.getItem("left");
    if(left === 'true'){
        window.close();
    }

    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            //$.get(`updateInfoAndGo?visitorId=${visitorId}&webId=${webId}&companyName=${data.field.company}&position=${data.field.position}&name=${data.field.name}&mobileNumber=${data.field.mobile}&webUrl=${webUrl}`)
            $.ajax({
                type: "POST",
                url: "api/visitor/updateInfo",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    visitorId: visitorId,
                    companyName: data.field.company,
                    position: data.field.position,
                    name: data.field.name,
                    mobileNumber: data.field.mobile,
                }),
                dataType: "json",
                success: function (resp) {
                    if (resp.data) {
                        $.get(`api/readRecord/add?visitorId=${visitorId}&webId=${webId}`);
                        sessionStorage.setItem("left","true")
                        window.location.replace(webUrl);
                    } else {
                        console.log("error: " + JSON.stringify(resp));
                    }
                },
                error: function (error) {
                    console.log("error: " + JSON.stringify(error));
                }
            });
            return false;
        });
    });
</script>
</body>
